@tailwind base;
@tailwind components;
@tailwind utilities;

section ::-webkit-scrollbar {
  width: 12px;
}
 
section ::-webkit-scrollbar-track {
  background: rgb(235, 236, 237,0.7);
  border-radius: 2rem;
  margin-block: 4rem;
}
 
section ::-webkit-scrollbar-thumb {
  background:rgb(1,49,50);
  border-radius: 2rem;
  border: 2px solid  rgb(235, 236, 237,0.7)
}

#card:hover #activate-btn{
  @apply visible
} 